[2014-05-28 13:58] bajtos opened #2 "Ideas for v3.0"
Copy of [comment](https://github.com/strongloop/loopback-boot/pull/1#issuecomment-44293886) by @raymondfeng:

1. I think we need to organize the boot into multiple phases, such as:
    - discover/load: Find and load configurations
    - resolve/wire: Resolve the references (such as model.dataSource) and wire them together
    - startup: Initialize the datasources/models (model class can potentiall

[2014-05-29 06:49] bajtos opened #4 "Configure datasources via env variables"
The Twelve-Factor App recommends to store configuration in environment variables - see the section [III. Config](http://12factor.net/config).

loopback-boot can already read host and port from environment variables. We should extend this mechanism to cover datasource configuration too.

Proposed naming convention:

[code]

Example:

[code]

[2014-06-04 07:29] fabien opened #7 "package.json incorrect"
loopback-boot currently fails to install through npm, also, the repo url has typos/points to the wrong gh account.

[2014-07-16 17:48] cajoy opened #20 "extend from DataModel"
I am trying to integrate loopback-component-passport and extend UserIdentity. But there is an issue

My code is:

models/userIdentity.js

[code]

and I am getting following error:

[code]

That's caused because userIdentity is DataModel

How can I extend DataModel?

[2014-07-16 22:13] raymondfeng opened #22 "npm test fails with node 0.10.x, but passes with 0.11.x."
Int32Array is used by sha.js, which is used by browserify for Node crypt module.

See https://github.com/dominictarr/sha.js/blob/master/sha1.js#L24

[code]

[2014-07-17 16:03] #22 closed, assigned to nobody

[2014-07-24 04:59] STRML opened #27 "2.0 throws that model-config.json is using 1.x format; where is the 2.x format?"
`compiler` [asserts](https://github.com/strongloop/loopback-boot/blob/6bf995c55b41789886f973428317c1871903dca0/lib/compiler.js#L79) that model configuration objects don't have `properties`, `base`, or `plural` configurations, but the [docs](http://docs.strongloop.com/display/LB/Model+definition+reference) show configuration showing these properties.

What properties am I supposed to use?

[2014-07-24 08:48] #7 closed, assigned to nobody

[2014-07-29 03:23] greaterweb opened #28 "Expected value of app.get('env')"
When initializing `boot` with `options`, if `options.env` is supplied, that value does not match what `app.get('env')` returns.

The [`env` variable](https://github.com/strongloop/loopback-boot/blob/master/lib/compiler.js#L29) is set based on options provided and passed to config loader methods for app, models and datasources. It is never stored beyond the compiler and config loader initialization

[2014-07-29 03:32] greaterweb opened #29 "Documentation: options.config"
Based on the [compiler source](https://github.com/strongloop/loopback-boot/blob/master/lib/compiler.js#L31), an `options.config` value can be supplied to the `boot` initializer as an alternative to maintaining a `server/config.json` file. The [boot documentation](http://apidocs.strongloop.com/loopback-boot/#bootapp-options) should be updated to reflect that this option is available.

[2014-08-03 14:17] fabien opened #30 "modelSources option not used"
Looking at https://github.com/strongloop/loopback-boot/blob/master/lib/compiler.js#L50

It appears that options.modelSources cannot be used to take precedence, even though the docs in index.js declare this to be the case.

[2014-08-05 19:09] daankets opened #32 "Asynchronous initialisation process"
Due to the current implementation of the boot process using this invocation style:

[code]

it is currently not really possible (in a clean way) to have loopback wait with accepting requests until complete finalisation of the boot process. Some asynchronous operations may not yet have finished.

Please adjust this to something like:

[code]

And only start the listener after this... It should be f

[2014-08-10 15:46] #30 closed, assigned to nobody

[2014-08-10 15:50] fabien opened #35 "Run model configuration after 'attached' (to fix race condition)"
Currently I'm unable to perform certain declarations in `/models/*.js` files, because not all models seem to be attached at that point. The workaround involves wrapping the code in a `on('attached', function() { ... })` wrapper. I think this should be the default e.g. to run all 'model configurator' scripts after all models have been defined/attached.

[2014-08-18 16:08] bajtos opened #37 "Support nested values in config overrides"
At the moment, loopback-boot does not support non-value types like arrays or objects in `.local.json` and `.js` config files.

The reason for that is with non-value types, there are multiple possible operations that one may want to perform:
1. override the whole value, replace one object/array with another
2. override the item at a given index in an array or replace the value of the given key in a

[2014-08-20 06:13] #20 closed, assigned to nobody

[2014-08-20 14:58] #27 closed, assigned to bajtos

[2014-08-27 21:53] ritch opened #38 "Report filenames for syntax errors"
/cc @kraman @bajtos @raymondfeng

@kraman is reporting vague syntax errors that are hard to track down. We should capture these while during the boot process and provide better info if possible.

[2014-09-12 18:51] superkhau opened #39 "`views` dir not found properly"
`views` directory not being set properly with 2.x layout.

For example, in [loopback-example-relation](https://github.com/strongloop/loopback-example-relation), the views directory is inside `server/views`. If you run `slc run` inside the `server` directory, the application works properly. If you run `slc run` from the project root, it fails because by default, Express looks for views in `./views`

[2014-09-16 18:33] doowb opened #41 "Using loopback-boot in the browser with browserify"
I'm trying to follow the [api docs for loopback-boot](http://apidocs.strongloop.com/loopback-boot/) and [docs for running loopback in the browser](http://docs.strongloop.com/display/LB/Running+LoopBack+in+the+browser) to get the basic application created with `slc lb` working, but nothing seems to work.

I'm not sure which `appDir` I should be pointing to, the `server` or the `client`, when runnin

[2014-09-29 12:06] bajtos opened #42 "Use filename as the default value for Model name"
Use the file name (e.g. `product` for `common/models/product.json`) a default value that can be overridden by the name specified in the file.

If we process the file name using `_s.capitalize(_s.camelize(name))` where `_s` is the `underscore.string` module, both "order-item" and "OrderItem" will produce the same model name "OrderItem".

[2014-09-29 18:37] ritch opened #44 "Middleware Mounting"
Server apps should load the middleware defined in `middleware.json` as described in the [component middleware docs](https://github.com/strongloop/generator-loopback/issues/52).'

Depends on https://github.com/strongloop/loopback-example-component/issues/10
Depends on https://github.com/strongloop/loopback-boot/issues/46

**Tasks**
- [x] Implementation
- [x] Doc draft - see https://github.com/stron

[2014-09-29 18:41] ritch opened #45 "Component Loading"
`boot()` should load dependent components, make their models available for configuration, [mount middleware](https://github.com/strongloop/loopback-boot/issues/44), etc.

[See here for details](https://github.com/strongloop/loopback-workspace/issues/149).

Depends on https://github.com/strongloop/loopback-example-component/issues/10

[2014-09-29 18:43] ritch opened #46 "Integrate phases with boot(...)"
See phases as outlined in https://github.com/strongloop/loopback-example-component/wiki/Middleware

Depends on https://github.com/strongloop/loopback-example-component/issues/10

[2014-10-03 09:20] coodoo opened #48 "Do not cache content of config files in the compiler"
At line 54 of `compiler.js`

https://github.com/strongloop/loopback-boot/blob/51cf0052d07de5e1e46828707b152ffa934ef915/lib/compiler.js#L54

Is there any reason to delete `_meta` property from modelsConfig? This caused trouble for watching and rebuilding script for that 2nd time the script run, `_meta` was deleted and some model files won't be included in the final bundle.

[2014-10-03 15:31] bajtos opened #49 "Extend options arg to support custom model definitions"
Extend the `options` argument of `boot`/`compile` to allow the developer to supply custom model definitions (to replace the result of `findModelDefinitions`). Together with the existing `options.models`, it will allow you to specify all model-related data and still use the benefits which loopback-boot provides (most notably loading models in order defined by inheritance, i.e. base models are loade

[2014-10-08 20:29] BerkeleyTrue opened #53 "cannot find module 'instructions.json'"
I am creating a bundled angular app. I am using gulp and browserify to bundle the app. browserify has no problem bundling, but when the app loads in the browser, I get
`Error: Cannot find module '/app/node_modules/loopback-boot/node_modules/instructions.json'.`

The stack error points to https://github.com/strongloop/loopback-boot/blob/master/browser.js#L20.
I have tried a couple of different comb

[2014-10-14 09:03] #29 closed, assigned to nobody

[2014-10-14 09:05] #32 closed, assigned to nobody

[2014-10-14 09:08] #35 closed, assigned to nobody

[2014-10-16 13:55] bajtos opened #56 "Export a function to customize config objects"
#37 implemented support for merging nested object and array values.

To support more complex scenarios where a simple merge is not enough, we should allow the override file to exports a `function(config)` and call this function to customize the current configuration.

[2014-10-16 13:55] #37 closed, assigned to bajtos

[2014-10-24 16:36] raymondfeng opened #61 "Boot script ordering"
The scripts in server/boot are executed by the order of file names as of today.

There are a few use cases that require ordering.
1. A boot script discovers models from a DB and exposes them as REST APIs. It needs to be executed before the api-explorer.
2. An async script that needs to be executed after the system-level boot scripts. For example, if we add the following JS file into server/boot to

[2014-10-28 14:37] cajoy opened #62 "Declarative definition of model property validations"
Loopback/Yo generator creates model with validations property:

[code]

But I can't find any example or definition of it.

How to use validations?

[2014-11-10 11:38] bajtos opened #64 "Multiple invocation of the same boot script"
#31 introduced `options.bootScripts` that can be used to specify additional boot scripts to execute. The implementation uses a simple `concat`-based algorithm to build a list of all scripts to execute. As a result, it's possible to get the same boot script (exported function) executed twice.

Consider the following example:

[code]

Actual output:

[code]

Expected output:

[code]

[2014-11-10 11:42] bajtos opened #65 "Relative paths in `options.bootScripts`"
#31 introduced `options.bootScripts` that can be used to specify additional boot scripts to execute. The script paths are passed directly to `require`, which means that relative paths are resolved relatively to `node_modules/loopback-boot/lib`.

We should improve the compiler and resolve any relative paths using `appRootDir`:

[code]

A similar problem in the way how modules, middleware and compon

[2014-11-14 08:16] bajtos opened #68 "Shorthand notation for middleware paths in `middleware.json`"
This is a follow-up for #66.

[2014-11-18 20:13] esatterwhite opened #69 "Compiler Glob Style File lookups"
It would be much cleaner and easier to maintain from a project standpoint, if the compiler could use glob patterns to locate files over hard coded paths and private filter functions.

rather than instead of

[code]

it can just be

[code]

This would reduce the amount of hand managed configuration. It also makes it easier to support pluggable pieces by convention in one's application.

[2014-11-21 21:00] raymondfeng opened #73 "Resolve module paths as relative to appRootDir instead of `loopback-boot/lib`"
In some cases, we need to run an embedded sandbox application during tests so that `require` will be based on the root of the embedded application instead of the host module.

For example,

[code]
See:

https://github.com/strongloop/loopback-boot/pull/70
https://github.com/strongloop/loopback/issues/833

[2014-11-24 15:56] #44 closed, assigned to bajtos

[2014-11-25 10:51] #68 closed, assigned to bajtos

[2014-11-28 13:42] bajtos opened #75 "Declaratively load loopback.rest and loopback-explorer"
In order to remove `boot/rest` and `boot/explorer` from the api-server template, we need to extend loopback-boot to support the following features:

 1. Specifying middleware parameters as a value to be read via `app.get` from `config.json`, example:

[code]

 2. Allowing the middleware to be optional, e.g.

[code]

 3. Rework the explorer so that it can get the `app` object via `req.app` on the f

[2014-12-02 10:00] #45 closed, assigned to bajtos

[2014-12-09 07:05] bajtos opened #78 "Convention for loading connectors"
Support a convention for loading connectors from components and the current project.

Use cases:
- loopback-component-push
- https://groups.google.com/forum/#!topic/loopbackjs/wcDDYN6TiIE

Tasks:
- [ ] Implement the feature
- [ ] Write a draft of documentation

[2014-12-09 07:10] bajtos opened #79 "Mixins"
LoopBack provides two kinds of mixins which we need to support in loopback-boot too:
 - A regular LoopBack model - mixing process copies all properties and methods to the target model.
 - A function - mixing process calls the function after the model has been attached.

**Mixin as a model - NOT IMPLEMENTED**

loopback-boot already has mechanism for defining arbitrary models, we should reuse this m

[2014-12-09 07:50] bajtos opened #80 "Dynamic config options"
It turns out that per-environment dynamic overrides via `config.{env}.js` are not good enough, as many users prefer to keep all config in a single javascript file (see e.g. #71). The current solution is to use `config.local.js` for that, even thought that file was initially intended for machine-local configuration that should not be checked into VCS (git, svn).

I am proposing to:
- [ ] Add a new

[2014-12-10 16:05] bajtos opened #81 "Inject `app` object to middleware factories"
Per @raymondfeng comment in #75:

[2014-12-10 16:09] bajtos opened #82 "Warn the user when a config file was not found, but overrides exist"
See #71:

We should detect such situation and print a warning.

Related: #80.

[2014-12-19 14:20] #64 closed, assigned to nobody

[2014-12-22 00:28] doublemarked opened #84 "Config merge order"
Hello!

As far as I can tell, loopback-boot is merging datasource configs in an order of ``env -> local -> master``, meaning that local config values get clobbered by environment-specific ones. This surprised me, as my understanding from the docs is that local config files are intended to be excluded from VCS and serve as a trump for local setup. I had intended to use this file to tweak a few valu

[2015-01-05 15:16] bajtos commented on #79
Yes please, that would be great.

[2015-01-05 17:28] bajtos commented on #81
On the second thought, middleware factory should not setup models nor register other middleware. Instead, we should implement a new mechanism to support complex components like oauth2.

The component exports `function(app, options)`, end-user configures components in a new file (`component-config.json`?) and loopback-boot will invoke the functions exported by configured components.

[2015-01-06 13:13] bajtos commented on #84
I see your point. It really depends on how you want to use env and local files, IMO both orders make sense.

This is how I was envisioning the configuration:

 - development environment setup goes to the master config file
 - local (per-machine) tweaks in the development environment go to `.local.json` file

Can you use this approach? If not, can you please describe why it does not work for you?

[2015-01-06 13:14] bajtos commented on #80
Related: https://github.com/strongloop/loopback-boot/issues/84

[2015-01-07 07:28] #81 closed

[2015-01-07 14:47] bajtos commented on #84
I see. When designing the config file layers, I did not take into account that per-environment config would have two parts - version-controlled settings and sensitive configuration not stored in version control. I was thought that all per-environment changes will stay in a single file. Mae culpa.

Before we go further down this route, have you considered using environment variables for values you

[2015-01-07 15:49] doublemarked commented on #84
I like this approach outlined in #4. The intention is that such values would be automatically merged into the config, yes? This approach would accommodate all the expectations I outlined above and remove the need for us to have 'dynamic' config files.

That said - these env vars will still inevitably need to be stored in some file that is held outside of VC (like ``.env``). But regardless, the app

[2015-01-09 12:31] bajtos commented on #84
Yes. The values from the environment take precedence over everything else.

Can we close this issue then?

[2015-01-09 12:32] doublemarked commented on #84
Yes, can close.

Is #4 on track for release at some point?

[2015-01-09 12:32] #84 closed

[2015-01-09 13:25] bajtos commented on #84
Not in the near future. Would you mind contributing the feature yourself? I am happy to guide you along the way and help you to get the pull request into the state when it's good to be merged.

[2015-01-09 23:55] doublemarked commented on #84
I would indeed enjoy working on this, though it won't be possible within the next couple weeks. I'll ping you when I have a chance to put some time into it.

[2015-01-17 22:38] doublemarked commented on #4
After discussion with @bajtos in #84 I took some time to look into the implementation of this feature. A few questions have emerged which I'd like to discuss. First though, a summary of my understanding of the objectives and approach to implementation. As I understand it from this thread,

  1. The objective is to merge environment variables into the config produced by ``ConfigLoader`` in order to

[2015-01-19 09:38] bajtos commented on #4
@doublemarked thank you for thinking this through. The objectives 1-4 are correct.

Underscores are definitely the convention on the environment variable side. For example [nconf](https://github.com/flatiron/nconf#env) uses a double-underscore and allows the user to provide a custom delimiter. Can we do the same here? Default to `__` and allow the user to provide a different value like `.` if he p

[2015-01-19 11:06] doublemarked commented on #4
Hello! Thank you for your feedback. A few responses below.

Great, yes, agreed - ``__`` to escape underscores, and potentially custom delimiters.

Can you please elaborate on why this is the case? This would only apply to JSON primitive types (string, number, bool, null).

[2015-01-19 17:11] bajtos commented on #4
Here is a sample `datasources.json` file used in development:

[code]

And the production ENV config:

[code]

As you can see, the configuration does not have any `url` property.

Does my previous comment make sense now?

[2015-01-19 17:18] doublemarked commented on #4
Ah yes, I understand. Actually, this is specifically why I suggested that unknown keys be dropped instead of inserted. But this does not apply to existing values, only to keys that do not already exist in the configuration.

Would always inserting new keys as strings be reasonable?

[2015-01-19 18:17] bajtos commented on #4
Definitely! Let's start with that, we can always fine tune this initial implementation later.

[2015-01-19 20:36] rmg commented on #4
It would be handy if a connector configuration could give the name of an environment variable to use if present, including a convention for specifying _that_ value via an environment variable:

datasource.json:
[code]
environment:
[code]

This would be useful for environments like Heroku where your environment will have injected into it:
[code]
Which could then be used without changing your config

[2015-02-04 15:32] bajtos commented on #69
Thank you for a suggestion. One question comes to my mind: at the moment, the order of items defines the priority. In your example above, models defined in `../common/models` have higher priority than models defined in `./models`. Have you considered this aspect?

[2015-02-04 15:36] bajtos opened #93 "Environment-specific config: replace the whole config, do not merge"
@raymondfeng and @dashby3000 suggested we should change the way how environment-specific configurations are applied.

At the moment, values from `datasources.production.json` are merged with `datasources.json`.

The proposal is to drop the merging algorithm and always use only one file. I.e. only load `datasources.production.json` and completely ignore `datasources.json` & `datasources.local.json`

[2015-02-04 15:38] bajtos commented on #93
Below are few use-cases from @raymondfeng where the current approach does not work well.

1) The unwanted configuration properties from base can be leaked into production and there is no way to shield them, for example.

[code]

2. The datasource can be backed by different DBs between dev and prod and each DB has different configuration properties, for example:

[code]

3) Unwanted datasources fro

[2015-02-04 15:42] bajtos commented on #93
The original complaint from @dashby3000:

Let's say in 'datasources.json', I have the following:

[code]

Then in a file 'datasources.dev.json', I have the following:

[code]

When I run `NODE_ENV=dev slc run`  it will always connect using the URL property defined in the 'datasources.json' file.

[2015-02-04 19:32] esatterwhite commented on #69
That sounds like a sort & regex to re order the glob results                                                                                                                                                                                                                                                                           Sent from my BlackBerry 10.

[2015-02-04 20:43] rmg commented on #93
For environment based JSON config files like this I think it makes sense to override the whole config rather than merge them. So :+1: from me on this change.

If these config files were JS instead, then it would make sense to simply execute them in order (default, $env, $host, etc) and let the code in each handle whether it merges or replaces.

[2015-02-05 17:18] altsang commented on #93
+1 as well, I would prefer that the merging happen optionally with another module if that's require or in the case where we want to be copacetic with an configuration management utility like Chef, Puppet, Ansible etc, those systems would handle the final output of the merge through templatization and variables defined

[2015-02-16 20:23] clarkbw commented on #79
[code]

Not sure if this is still progressing but I wanted to add a request for using npm modules for mixins.  It would be nice if there was an attribute in the json file that could require a module.  This would allow community developers to publish mixin modules on npm instead of copying the JS files around.  I imagine the instructions would tell people to copy the JSON file into their mixins dir

[2015-02-17 18:53] bajtos commented on #79
Yes, the implementation must support loading mixins from `node_modules`.

[2015-02-18 01:05] BerkeleyTrue opened #94 "bug: saving instructions to node_modules requires folder with package.json"
Ran into an issue after doing an npm install on a project. Not sure what change exactly caused this issue but it's an issue nonetheless (in two separate machines as well).

Was getting this error when bundling (browserify and watchify, with many different versions).

![1__tmux](https://cloud.githubusercontent.com/assets/6775919/6240666/58e6ed10-b6c6-11e4-9ea8-44ccbbbfc507.png)

After some digging,

[2015-02-20 11:39] #94 closed

[2015-02-21 03:31] shlomiassaf commented on #49
@bajtos,

I sent PR for this enhancement, #96
Could you please check?

Thanks.

[2015-02-21 03:52] shlomiassaf opened #98 "Allow model logic code from compiled function"
At the moment, application logic for models is defined in static module files.
The `executor` loads the module in the process of defining a model.

This is the only way when models are defined using 'model-config.js`

Issue #49 suggests custom model definition loading.
PR #96 implements #49 using additional property that holds model definition objects instead of them being in `modelDir/modelName.j

[2015-02-25 16:57] robotiko commented on #79
Hi fabien,
I just read about those mixins that you mentioned.
I was wondering if they are in a public repo to have a look "for inspiration"  while the pr comes to place.
Any stats/ timeseries mixins?  sounds really interesting.

Thxs

David

[2015-02-28 16:32] greaterweb opened #101 "documentation: clarify the use of *.local.js and *.local.json config files"
Currently the use of `*.local.{js,json}` config files are loosely documented within the [environment specific configuration](http://docs.strongloop.com/display/public/LB/Environment-specific+configuration) page, their intended role is a little unclear though and behavior may produce unexpected results a developer. Inclusion on this documentation page leads you to believe `local` is an environment

[2015-02-28 16:55] greaterweb commented on #101
Looking at the usage in [this example](https://github.com/strongloop/loopback-example-full-stack/tree/20c60b4beb76e4805b21f28353b6d9867236e8ba/server) it appears that `config.local.js` may be intended to polyfil the fact you can't have a `config.js` file. If this is indeed the intended usage, the `.local` certainly confuses things a bit.

[2015-03-01 14:21] fabien commented on #79
@bajtos I rebased/resolved any conflicts here: https://github.com/fabien/loopback-boot/tree/feature/mixin-loading-update

Next up would be having the two files, an *optional* `mixin.json` and a *mandatory* `mixin.js` file per Mixin.

@robotiko I'd have to extract the code to be more isolated first - hopefully soon, though

[2015-03-01 17:36] fabien commented on #79
Added loading metadata from `*.json` files. @bajtos let me know what you think - perhaps we can standardize some of the metadata keys (I've followed npm's package.json as a guideline).

Regarding loading mixins from `node_modules` - yes, this should be possible, however, I think it should be possible to load multiple mixins from a module, as well as having just a single mixin wrapped as a module.

[2015-03-02 09:16] STRML commented on #93
If this is done, I think it should be opt-in or at least opt-out. Otherwise, there is a lot of copy/paste dancing going on and the possibility for configuration to be missed. Considering this is javascript, and undefined property accesses don't throw, I can imagine this causing a lot of hard-to-find bugs.

:+1: on making configuration files JS instead of JSON though. The flexibility is very, very

[2015-03-02 09:37] bajtos commented on #53
@BerkeleyTrue can we close this issue as resolved? (See also #95.)

[2015-03-02 09:41] bajtos commented on #39
@superkhau Is this issue still relevant?

Your `server/server.js` configures the views location to an absolute path (see below), that should have fixed the problem, right?

[code]

[2015-03-02 09:45] bajtos commented on #62
AFAICT, LoopBack does not support a declarative way of defining property validations, beyond the per-property attributes like "required" and "unique". The same applies to "methods", it's too not supported yet.

[2015-03-02 09:49] bajtos commented on #28
+1

We should consider modifying the code building the `env` variable to take into account the current value of `app.get('env')` too.

[2015-03-02 15:43] BerkeleyTrue commented on #53
I think it needs to be mentioned in the docs that loopback-boot will not work correctly with fullpaths option in browserify/watchify.

[2015-03-02 17:22] bajtos commented on #53
Would you mind submitting a pull request? https://github.com/strongloop/loopback-boot/blob/master/docs/header-browser.md

[2015-03-09 17:37] bajtos commented on #79
@fabien can you please send https://github.com/fabien/loopback-boot/tree/feature/mixin-loading-update as a pull request? That way I'll see it as a task in my todo list and it's also easier to comment on a PR than on a branch.

[2015-03-10 08:22] bajtos commented on #65
@PradnyaBaviskar I believe the problem should be reproducible by modifying an existing unit-test in [compiler.test.js](https://github.com/strongloop/loopback-boot/blob/bfcd3ff15e35293b4c4497fc3d01c6ed164d68b5/test/compiler.test.js#L397-L406).

[code]

[2015-03-10 08:29] bajtos commented on #73
Typically, both loopback-boot and the module used from boot are sitting in the same node_modules folder:

[code]

When `require.resolve` does not find "boot-dependency" in `loopback-boot/node_modules`, it traverses the parent directories and eventually finds the module in `project/node_modules/boot-dependency`.

In order to reproduce the situation described by this GH issue, one can create the fol

[2015-03-11 07:44] bajtos commented on #65
Fixed by #104. Note that module paths are still resolved against loopback-boot node_modules, see #73.

[2015-03-11 07:44] #65 closed

[2015-03-12 20:13] fabien commented on #79
@bajtos I just rebased, but apparently the commit log now shows duplicate entries. Perhaps you have some pointers on how to resolve this before I create a PR?

[2015-03-12 21:44] ritch opened #105 "Cannot boot two browserified apps"
https://github.com/strongloop/loopback-boot/blob/bc233e83d33ae29ab2ffb75fe9798d0b01388db8/browser.js#L20

Uses a single global name to reference the `instructions`. You should be able to specify this in `boot.compileToBrowserify()` and `boot()`.

[2015-03-12 21:44] ritch commented on #105
@bajtos

[2015-03-12 21:49] bajtos commented on #105
How do you propose to handle multiple loopback instances, especially multiple instances of the global model registry when there are multiple application loaded?

[2015-03-12 22:10] ritch commented on #105
Isn't this out of scope for this issue?

See https://github.com/strongloop/loopback/issues/1056 for my take on this.

[2015-03-12 22:16] bajtos commented on #105
It's a prerequisite. See also https://github.com/strongloop/loopback-datasource-juggler/issues/119 - "The model names have to be unique."

[2015-03-14 00:02] BerkeleyTrue opened #108 "Command line browserify loopback-boot"
We compile on npm prepublish for production. When trying to browserify the loopback script we have does not get run.

Not exactly sure how to add boot instructions from command line. I would form a PR but this isn't something I am familiar with.

Is there someway to easily accomplish this?

[2015-03-16 12:24] bajtos commented on #79
It's hard to help without seeing the commit log itself. In the worst case you can hard-reset your feature branch to the latest master and then cherry-pick the relevant commits back.

[2015-03-17 15:43] fabien commented on #79
@bajtos the log is still at https://github.com/fabien/loopback-boot/commits/feature/mixin-loading-update - you'll spot the duplicates immediately - shall I create a new feature branch and cherry-pick commits into it?

[2015-03-17 19:46] Jeff-Lewis commented on #79
@fabien +10 on your mixin work. This will add great value to developers using SL. This type of of work and api extensions are not so sexy but prove to be tremendously valuable. They often are a nice surprise 'gift' when developers are just about to write some custom code (often re-inventing the wheel) and discover the existing mixins available that saves them a couple hours.

It's somewhat analogo

[2015-03-18 11:14] bajtos commented on #79
Your branch has a merge commit https://github.com/fabien/loopback-boot/commit/25198088a886aaeb2fd46efcc5c1ce7fc0f20f16 "https://github.com/fabien/loopback-boot/commit/25198088a886aaeb2fd46efcc5c1ce7fc0f20f16" that created the mess. You must have rebased incorrectly.

You can try `git rebase -i strongloop/master && git push -f` and if it does not fix the problem, then yes please, cherry-pick the co

[2015-03-18 14:46] fabien commented on #79
@bajtos thanks, that worked - I don't have the slightest idea how the rebase went wrong before.

@Jeff-Lewis thanks - mixins have been at the core of all the LB work I do; I rarely implement Model logic as plain models, nearly every bit that is reusable has been implemented by a Mixin instead.

[2015-03-19 13:25] robotiko commented on #79
@fabien Thanks a lot for such great contribution.
I do agree with @Jeff-Lewis , this can be really useful for reusing and sharing powerful mixins that help fine tune the platform for specific needs  that don't reach the component size/isolation.
Some of them you already pointed, softdeletion, auditing, etc.

[2015-03-30 23:03] rmg opened #116 "Use in-memory buffer for bundling"
The file writing approach was used as a workaround for substack/node-browserify#771, which seems to have been resolved.

Unfortunately, the file writing approach has some unfortunate drawbacks, such as requiring write access to the location loopback-boot is installed, which doesn't work so well when it is a dependency of a globally installed module as is the case of strongloop/strong-arc#1110.

[2015-04-08 06:16] bajtos commented on #73
@PradnyaBaviskar I think this issue should be fixed by your linked pull requests now, is that correct?

[2015-04-08 06:47] PradnyaBaviskar commented on #73
Yes @bajtos, this would now be fixed with my linked PL.

[2015-04-08 07:15] #73 closed

[2015-04-08 08:50] #42 closed

[2015-04-09 17:07] ritch commented on #108
Is this referring to a `boot()` script?

[2015-04-09 18:30] BerkeleyTrue commented on #108
Referring to boot.compileToBrowserify.

[2015-04-10 07:55] bajtos commented on #108
@BerkeleyTrue I am not sure if I am understanding you correctly. Are you asking us to provide a command-line tool for creating a browserify bundle for a given LoopBack application?

Check out [loopback-example-offline-sync/client/lbclient/build.js](https://github.com/strongloop/loopback-example-offline-sync/blob/4b0f60bf716bbcb04b985e86eb443eaa3f7fc420/client/lbclient/build.js), it provides a meth

[2015-04-16 21:23] superkhau commented on #39
@bajtos It's not relevant since you do set the views dir as you've shown. However, I do feel we should at least set the view dir to `server/views` OOB. Two main benefits that I see:

1. Since we include `ejs` OOB, we can write a yeoman generator to set up server side templates on demand
  - slc loopback:server-template
    - `rm server/boot/root.js`
    - `mkdir server/views`
    - echo 'Hello wor

[2015-04-17 06:57] bajtos commented on #39
That's not correct, you should not serve the views via static middleware. You should use [res.render()](http://expressjs.com/4x/api.html#res.render) instead.

Just saying :)

The current project template is called "API server", that's why it does not provide server-side templates not a static SPA client.

I am ok to add a new project template for building old-style static websites. However, you ne

[2015-04-17 07:02] bajtos commented on #39
I see why this can be confusing. How about implementing the following solution: when the `views` path is starting with `./` or `../`, we will resolve it relatively to the directory where the main app file is, i.e. value `./views` will be resolved as `{abs-path-to-your-project}/server/views`. Then we can change the API server template in loopback-workspace and set the `views` value in `server/confi

[2015-04-17 22:30] superkhau commented on #39
You are right. We should set static MW to `./client` and serve the server-side templates from `./server/views` (using `res.render` of course) is what I meant. ;)

Makes sense. It's just part of two features I would like LoopBack to have at some point, which is:

1. Generator to set up basic SPA site (ie. remove `server/boot/root`, add entry to `middleware.json` files section to serve static assets

[2015-04-20 03:13] nvcken opened #122 "AssertionError: undefined == true"
Can not start node app , occur this error

assert.js:86
  throw new assert.AssertionError({
        ^
AssertionError: undefined == true
    at /home/ken/api/node_modules/loopback/lib/model.js:392:7
    at EventEmitter.<anonymous> (/home/ken/api/node_modules/loopback/lib/model.js:222:9)
    at EventEmitter.g (events.js:199:16)
    at EventEmitter.emit (events.js:129:20)
    at EventEmitter.app.mode

[2015-04-20 05:07] superkhau commented on #122
Can you provide the steps to reproduce please? See https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-04-20 09:13] mrfelton opened #123 "Unable to boot in the browser - Number.isFinite is not a function."
The change at https://github.com/strongloop/loopback-boot/commit/044a4df07a8c076ec0c72e98261fdb44631f7acd#diff-3a73542dc68d28ea0d34b33d6df62f85R119 breaks when run in the browser via browserify.

When I'm running unit tests in PhantomJS using karma I get the following fatal error:

"TypeError: 'undefined' is not a function (evaluating 'Number.isFinite(parseInt(v, 10))')
at /devenv/build/client/lbc

[2015-04-20 09:32] mrfelton commented on #123
Patch above updates to use the polyfill code detailed on https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/isFinite in place of Number.isFinite()

[2015-04-20 15:45] raymondfeng commented on #123
@mrfelton Can you submit your patch as a github pull request?

[2015-04-21 02:37] nvcken commented on #122
That error occurs when I run npm update for update loopback module to lastest version
Below is previous version before npm update
[code]

[2015-04-24 07:32] bajtos commented on #79
FYI, #120 has landed on master and added support for `options.mixinDirs`. The next step is to implement `options.mixinSources` that will work similarly to `options.modelSources`, @PradnyaBaviskar will be working on this feature.

[2015-04-29 06:21] bajtos opened #129 "Support comments in JSON files"
At the moment, configuration files are using JSON, which does not support comments. We should consider using a JSON superset that supports comments, for example http://json5.org/ or http://yaml.org/ or at least apply https://www.npmjs.com/package/strip-json-comments when loading JSON files.

[2015-04-29 16:19] ritch commented on #79
Cool... we need a `loopback-example-mixins` though.

https://github.com/strongloop/loopback/issues/1349

[2015-04-29 16:27] ritch commented on #129
The problem with stripping comments is that once you `JSON.stringify()` the content back into the file ...it removes all the comments. Its a 1/2 solution IMO.

[2015-04-29 16:33] bajtos commented on #129
Ouch, that's a good point, I completely forgot about editing JSON programatically from loopback-workspace. I'm removing the "Beginner Friendly" label then.

[2015-04-29 17:16] sam-github commented on #129
The round-tripping is the more pervasive problem.

The reason I'm looking for comments is there doesn't appear to be a good place to comment on the structure and meaning of the API. There is the description field, but that's pretty limited.

[2015-04-29 17:20] bajtos commented on #129
FWIW, the description field supports an array of strings as a value, if that's of any help.

[code]

[2015-04-29 17:36] sam-github commented on #129
And it allows arbitrary properties, right? So, I could add a `comment:` property anywhere, and LB would ignore it, right? I could try doing that. Though my dividing paragraphs into arrays of strings is a bit messy to edit, though fine to read.

[2015-04-30 08:49] bajtos commented on #129
Yes, I believe so.

[2015-05-05 09:30] #49 closed

[2015-05-07 14:23] bajtos commented on #79
#131 added support for `mixinSources`. The last missing piece implementation-wise is strongloop/loopback-workspace#198.

The task of creating an example app is tracked by https://github.com/strongloop/loopback/issues/1349, see https://github.com/strongloop/loopback/issues/750 for documentation update.

[2015-05-12 07:03] superkhau commented on #122
@nvcken Is this still an issue?

[2015-05-12 09:32] nvcken commented on #122
This is still occur, I suggest it caused by update one of Loopback -* module then newest can not work with another Loopback-* module.
I have figure out exact what confict detail yet. So I keep current set of Loopback module

[2015-05-12 09:32] #122 closed

[2015-05-29 08:38] bajtos commented on #79
The feature is available in `loopback-boot@v2.8.0`. I am closing this issue as done.

[2015-06-01 14:42] #79 closed

[2015-06-01 16:31] raymondfeng commented on #79
Do we have the documentation now?

[2015-06-01 17:21] bajtos commented on #79
@raymondfeng  see https://github.com/strongloop/loopback/issues/750

[2015-06-01 17:22] bajtos commented on #79
Although I am not sure if strongloop/loopback#750 is tracking the right doc task, we may need to create another task to document how to create and use custom mixins.

[2015-06-06 18:20] hacksparrow commented on #75
Let's address the issue "one feature at a time". I think **2. Allowing the middleware to be optional** is the most straightforward one, so let's give it the first shot.

So @bajtos what are the requirements for **2**? Here is what I am assuming:

1. If the middleware is not resolvable, don't `throw` and resume loading the rest of the middleware. Also, print the `optional` message to stdio.
2. If t

[2015-06-08 06:58] bajtos commented on #75
@hacksparrow that's perfect :+1:

+1 I'd add "one pull request per feature", but feel free to use whatever workflow that works best for you.

[2015-06-09 12:35] gausie opened #135 "Expose API for custom ConfigLoader"
It would be great for loopback-component-passport to load its `providers.json` via the same method as the rest of the config in loopback, i.e. from `providers.local.js` and `providers.ENV.js`.

I've implemented this manually using lodash's merge function, but would be great to reuse the code from ConfigLoader.

[2015-06-25 05:52] hacksparrow commented on #75
@bajtos I have implemented a way to to pass `app` as a parameter to middleware via `middleware.json`. `app` can be referenced as `${app}`.

**middleware.json**
[code]
How does the convention `${app}` look like to you?

[2015-06-25 08:08] hacksparrow commented on #75
@bajtos also, for explorer to work seamlessly as a self-contained optional middleware, the middleware config should be the following, if I am not wrong:

[code]

[2015-06-25 08:14] hacksparrow commented on #75
and of course, explorer has to take over the responsibility of doing what `server/boot/explorer.js` is doing currently.

[code]

[2015-06-25 10:14] hacksparrow commented on #75
@bajtos the implementation for parsing `${app}`, and its test is sitting on a branch on my fork - https://github.com/hacksparrow/loopback-boot/tree/feature/app-reference.

I'd like to open a PR for it, once the open PR for making middleware optional is merged.

[2015-06-25 17:21] bajtos commented on #75
@hacksparrow I am afraid your proposal above goes against the original intention of this issue, which is to "Rework the explorer so that it can get the app object via req.app on the first request, in the same way as loopback.rest." I personally think it's a bad practice for middleware to expect the `app` object in factory arguments, it should get the app it's mounted on via `req.app`.

However, pe

[2015-06-25 18:11] hacksparrow commented on #75
Thanks for the feedback @bajtos, will change accordingly.

[2015-06-30 15:22] fabien opened #137 "mixinDirs vs. mixinSources"
Now that we have the `mixinDirs`, I believe there is no reason to keep `mixinSources` around. For example: https://github.com/strongloop/loopback-boot/blob/ac5265f726748a0f324c1a218a04d39e241f2b3b/lib/compiler.js#L88

@bajtos thoughts?

[2015-06-30 15:48] bajtos commented on #137
IMO, mixinSources are crucial to keep the size of the browserified client as small as possible and leave out any mixins that are not used by client models. If I wanted to simplify the bootloader, then I would remove `mixinDirs` option instead.

[2015-06-30 15:51] bajtos commented on #137
Let me explain the difference between these two options. All files in `mixinDirs` are always loaded and the mixins are registered with loopback runtime. OTOH, only those files that referenced by an application model are loaded from `mixinSources`. The option `mixinSources` mirrors the behaviour of `modelSources`.

[2015-06-30 15:59] raymondfeng opened #138 "Add support for declarative policies"
To support declarative gateway configurations, we need to add support to loopback-boot to deal with policies.json and transcompile it into middleware.json.

[2015-06-30 16:03] fabien commented on #137
Hi @bajtos, thanks for the exmplanation. Is it then on purpose that `mixinSources` is not referenced as an option in `index.js`?

[2015-06-30 16:05] bajtos commented on #137
Oh, that would be an oversight.

[2015-06-30 16:08] bajtos commented on #137
@fabien see #139

[2015-07-16 13:19] hacksparrow commented on #75
@bajtos per this example:

[code]
We will now call `loopback.rest()` directly via a configuration in `middleware.json`, instead of using `server/boot/rest-api.js`, and therefore make the necessary changes to `loopback/server/middleware/rest.js` to enable this, right?

[2015-08-04 07:24] BerkeleyTrue opened #145 "feature: add middleware.<environment>.js(on) support"
I have three different processes for handling errors. One for development, two for production.

It would be awesome to declare these in different files instead of having to create factory functions that look for development environment and return middleware noops when not in the correct one.

[2015-08-04 08:02] BerkeleyTrue commented on #145
Just saw this is already supported in the docs... its been a long day.

[2015-08-04 08:02] #145 closed

[2015-08-05 16:47] bajtos commented on #75
Yes please.

I am not aware of any changes that are necessary, could you please elaborate little bit more?

[2015-08-05 16:52] bajtos commented on #75
Did you mean implementing necessary changes to support `"paths": ["${restApiRoot}"]`? That should be implemented in loopback-boot's `lib/executor.js`

[2015-08-06 08:59] sgilligan commented on #101
+1

[2015-08-07 17:48] elmojo opened #146 "Should Be Allowed to Remove Configuration Setting"
I believe that you should be able to remove a configuration property during boot up.  Currently this is not possible.  I should be able to set the property to null and instead of trying to merge it, it should delete the property.

Let me give you an example.  Suppose I am using GMail SMTP for testing but I also want the ability to set a environment variable and use a local SMTP server instead for

[2015-08-12 07:56] hacksparrow commented on #75
Thanks for the info @bajtos.

Another thing; what would be the interface for doing something like this?

[code]

[2015-08-12 11:23] bajtos commented on #75
var websitePath = require('path').resolve(__dirname, '../client');
app.use(loopback.static(websitePath));
[code]

[2015-08-13 10:42] hacksparrow commented on #75
@bajtos opened a PR to declaratively load loopback.rest - #149. However, there is a bunch of build errors triggered by some per-existing code, I can fix it if I get the go-ahead. Please review and let me know.

[2015-08-13 10:48] hacksparrow commented on #75
Also, are we not supporting `const` yet?

[2015-08-13 13:06] hacksparrow commented on #75
@bajtos is there a reason why **loopback#rest** takes an array of paths while **loopback-explorer** takes a single `mountPath`?

[2015-08-26 16:09] #138 closed

[2015-08-26 17:49] crandmck commented on #75
@bajtos Can this be closed with the merging of #149?

If not, what are the remaining items to complete before this can be closed?

[2015-08-27 06:43] hacksparrow commented on #75
@crandmck `component-config.json` should parse `${var}` too. I have gotten it to parse, but still working on a way for explorer to be loaded declaratively and replicate its current behavior.

With explorer loading as intended, we can close this.

[2015-08-27 14:11] bajtos commented on #75
@crandmck as @hacksparrow wrote, we need to land one more change to loopback-boot and then rework the example app to load the explorer component declaratively.

@hacksparrow don't worry about reproducing exactly same behaviour. The important part is to print the explorer URL on start. The support for explorer being an optional dependency can be dropped and explorer can become a proper (required) d

[2015-09-01 08:48] francois-montmasson-efg opened #153 "Middleware param configuration broken, does not support object anymore"
Last release 2.12.0 introduced regression.

Here is the scenario:
* scaffold new loopback project
* just add new morgan logger in middleware with an object parameter. c.f. https://docs.strongloop.com/display/public/LB/Defining+middleware#Definingmiddleware-Middlewareconfigurationproperties
* start server

Actual Result:
[code]

Expected Result: Start like a charm ;->

[2015-09-01 08:52] francois-montmasson-efg commented on #153
Seems related to commit #152

[2015-09-01 16:18] superkhau commented on #153
I can't reproduce the error. What does your `middleware.json` look like?

[2015-09-02 11:51] francois-montmasson-efg commented on #153
[code]

[2015-09-02 22:19] superkhau commented on #153
It still works for me. Are you using the latest version of LB? `npm i -g strongloop` to update. You can clone my reproduction repo here and see if it works on your computer: https://github.com/superkhau/sandbox/tree/loopback-boot%23153

[2015-09-02 22:19] superkhau commented on #153
Also, you can run `slc -v` to check your dependecy versions. Mine looks like:

[code]

[2015-09-03 07:42] francois-montmasson-efg commented on #153
here is mine below. but it is useless since I am running directly with node.
btw, with last version of loopback-boot@2.12.1 bug fixed.
thanks for your support
keep up the good work you do in entreprise JS with strongloop
best regards,

[code]

[2015-09-03 07:50] superkhau commented on #153
NP, glad its working for you again.

[2015-09-03 07:50] #153 closed

[2015-09-05 07:15] hacksparrow commented on #75
@bajtos @crandmck I guess we can close this now?

[2015-09-07 10:43] #75 closed

[2015-09-15 08:59] bajtos commented on #137
Fixed by #139.

[2015-09-15 08:59] #137 closed

[2015-10-10 03:42] kidwm opened #157 "mergeObjects could not handling null property"
server/datasources.json
[code]
server/datasources.production.json
[code]
Error:
[code]

[2015-10-13 23:53] superkhau commented on #157
Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-10-14 03:20] kidwm commented on #157
@superkhau here it is:
https://github.com/kidwm/loopback-sandbox

[2015-10-14 03:45] superkhau commented on #157
@kidwm Verified. Escalating to bug.

[2015-10-14 03:47] superkhau commented on #157
@kidwm Actually, can you try changing the key `file_name` to `file`. I don't believe we support `file_name`.

[2015-10-14 06:11] kidwm commented on #157
@superkhau loopback-connector-sqlite use this config property and works fine.

Change to `file` did not make any deference.

[2015-10-14 06:18] superkhau commented on #157
What do you mean? The connector only supports the property `file` and not `file_name`. I cloned your repo, changed `datasources.local.json`'s `file_name` property to `file` and the error disappears. Can you try this?

[2015-10-14 06:19] superkhau commented on #157
Another question, why are you using `file_name` at all? Is this documented somewhere?

[2015-10-14 06:22] kidwm commented on #157
@superkhau You maybe forgot to also change the property in `datasources.json`.

https://github.com/Synerzip/loopback-connector-sqlite

[2015-10-14 06:25] superkhau commented on #157
@kidwm I see, we're looking at different repos. I'm looking at our officially supported connector: https://github.com/strongloop/loopback-connector-sqlite3

You're going to have to ask `Synerzip` about his connector not working for you instead of here. Closing.

[2015-10-14 06:25] #157 closed

[2015-10-14 06:33] kidwm commented on #157
@superkhau Thanks for the info that you guys finally has official sqlite3 support.

If you still care about this issue, I've made another commit to remove sqlite3 config.

[2015-10-14 06:35] superkhau commented on #157
@kidwm No problem. Let me know if you are still running into issues.

[2015-10-30 09:53] AndreGeng commented on #101
+1

[2015-10-31 01:24] superkhau commented on #101
@crandmck ^

[2015-11-02 23:56] crandmck commented on #101
@greaterweb You are correct that `config.local.js/json` is always loaded (if it exists).
I will try to clarify this in the docs.

I can't authoritatively speak to the intent of the design, as I just write the docs, but I believe you're basically right that `config.local.js` exists to be able to perform programmatic actions instead of simply setting primitive values as you can do in a JSON file.

A

[2015-11-03 13:47] bajtos commented on #101
The original idea was to use `*.local.js*` files for machine-local configuration that is never committed to version control system (git). Over the time, the `local` files become a workaround for the fact you can't have a config.js file as @greaterweb wrote.

I agree this situation is rather confusing. I don't know yet what is the best solution, whether an incremental improvement will be sufficient

[2015-11-04 22:06] crandmck commented on #101
@bajtos @greaterweb I updated https://docs.strongloop.com/display/LB/Environment-specific+configuration to try to clarify the situation.  I would appreciate it if you would take a look and let me know if I missed anything or got something wrong, or if it's still not clear.  Thanks.

[2015-11-05 10:55] bajtos commented on #101
@crandmck thank you for the update, I have added few more config files to the list.

The file loading follows few simple rules. We have different configuration types - config, datasources, model-config, middleware, component-config. For each config type, we load the following files:
 - {type}.json - always, and only JSON
 - {type}.local.json/js - always if exists, either JSON or JS
 - {type}.{env}

[2015-11-05 18:40] crandmck commented on #101
Thanks for updating the docs.  I'm going to close this now, since I think we've addressed it.

[2015-11-05 18:40] #101 closed

[2015-11-09 16:44] simoami opened #160 "Allow middleware to get a reference to `app`, similar to bootscripts."
middleware handlers do get access to app via req.app, but not the middleware wrappers. We have a usecase where we need to reload middleware config. For this we want to listen to global config changes on the app. However there's no way to obtain a reference to the app.

[code]

Another option is to allow dynamic variables to support the special use case `${app}` so that it can be included on demand

[2015-11-11 12:27] Elindorath opened #161 "dataSources error on boot aren't handle?"
Hi there,

As I was digging around boot error handling, I was surprised to find out that a mispelled hostname in datasources.json does fire an error, but not the way I expected:

[code]

An error like this doesn't prevent the app from booting, doesn't give an error to the boot callback, and is not handle with a listener on app error.

The only way I found to handle this was to listen on all dataso

[2015-11-17 18:50] superkhau commented on #82
Connect to #162

[2015-11-17 22:14] Amir-61 commented on #161
@Elindorath

We tried to reproduce this issue and we could not reproduce it; could you please share a repo.

Note: Probably you are not passing the error in your bootscript callback and that's why you cannot catch the error in the boot callback! But to make sure we need to see your code and we can comment on it!

My suggestion would be reproduce the issue using loopback-sandbox (Please see: https:

[2015-11-17 22:43] jannyHou commented on #135
@gausie  Thanks! I would label it as a feature.

[2015-11-23 21:59] jannyHou commented on #161
Hey @Elindorath If you still have questions about boot related issues, please provide your code (you can fork this repo https://github.com/strongloop/loopback-sandbox and upload your project to sandbox) then let's solve problems together!
For future reference, please ask questions on [google group](https://groups.google.com/forum/#!forum/loopbackjs)

[2015-11-23 22:00] #161 closed

[2015-11-24 14:38] #82 closed

[2015-11-25 08:11] petermilan opened #163 "loopback-boot just hangs and prints no error if some boot script contains JS error"
Looks like when some script which should be executed here: https://github.com/strongloop/loopback-boot/blob/master/lib/executor.js#L287

is throwing some JS error, the loopback boot will just hang and not print the error
I was able to catch the error using this code:

[code]

but the error will be only printed to the console and the boot will not fail with some error. Could we somehow improve this

[2015-11-25 08:36] petermilan commented on #163
looks like this helped + adding extra callback into server.js of loopback and catch of the error using extra callback of boot like this:
[code]

[2015-11-25 08:54] petermilan commented on #163
Hmm, this could be probably not an issue, the reason why the app hanged for me was that I was trying to call some app functionality in the server.js (with failing boot), once I removed that line, the app was stopped with thrown error, which is expected behavior

[2015-11-25 08:54] #163 closed

[2015-11-29 06:27] superkhau commented on #39
Closing as this is not high priority at all.

[2015-11-29 06:27] #39 closed

[2015-12-02 15:39] bajtos commented on #28
Fixed by #164.

[2015-12-02 15:39] #28 closed

[2015-12-02 16:06] greaterweb commented on #28
:+1: I'll be sure to check it out

[2015-12-25 03:11] dsuket opened #166 "Can not use RegExp in middleware config"
[At executor#interpolateVariables](https://github.com/strongloop/loopback-boot/blob/master/lib%2Fexecutor.js#L351)
RegExp object is converted empty object.
if config is RegExp object, it is better to return config.

[2015-12-29 01:06] superkhau commented on #166
Would you like to submit a patch?

[2016-01-08 09:19] bnoordhuis opened #167 "[perf] lib/compiler.js makes too many stat() calls"
Profiling loopback-sample-app start-up time, from the ~6500 stat() system calls, about 2000 originate from `fixFileExtension()` and to a lesser extent `tryResolveAppPath()` in `lib/compiler.js` (the `fs.existsSync()` call - why are you using that?)

Related, I managed to bring down the number of calls from node.js core to ~2800 from ~4700 in https://github.com/nodejs/node/pull/4575 by caching more

[2016-01-08 09:27] bnoordhuis commented on #167
If you want to see for yourself:
[code]
`--perf_basic_prof` exists in node v4.x or v5.x and records JS stack frames, making the profiler's output a lot more useful.

You may have to remount `/sys/kernel/debug` and `/sys/kernel/debug/tracing` with `mount -o remount,mode=755`.  Add `-m64` if perf complains about not having permission to mmap memory.

If you just want to count the number of system ca

[2016-01-21 23:11] noderat commented on #64
At the bottom of the [documentation on boot scripts](https://docs.strongloop.com/display/public/LB/Defining+boot+scripts) it is still warning that boot scripts will be duplicated. Can the documentation be updated?

Also, is there a better resource for suggesting updates to the documentation or perhaps a way to do a pull request for documentation fixes?

[2016-01-21 23:18] superkhau commented on #64
@noderat https://github.com/strongloop/loopback/wiki/Contributing-documentation

[2016-02-01 04:55] jbcpollak opened #170 "Can boot() return a promise?"
It would be convenient for manually calling boot() if it returned a promise, similiar to how the core loopback api is adding promise support.

[2016-02-01 12:42] #146 closed

[2016-02-01 12:43] juodumas commented on #129
Comments in `config.json` and others would be very nice. Maybe at least allow skipping `config.json` when `config.local.js` exists? Currently if I have `config.local.js` and have no `config.json`, loopback complains and doesn't load the config.

[2016-02-03 20:55] dopeddude commented on #4
Hi,

To use the values from the environment variables, we do have support for configuration inside JS files.
But, still it made sense to me to have the same support through the json files as well for easy maintanence even by a JS-agnostic guy, probably a devop.

I have come up with first draft of my changes, which can be reviewed [here](https://github.com/strongloop/loopback-boot/compare/master...

[2016-02-04 07:04] RameshChoudhary opened #172 "Environment specific files merge with arrays doesn't merge properly."
Trying to use some dev specific models for dev env so defined files are

model-config.json

[code]

model-config.dev.json

[code]

Now when we start the application it throws eror
`Cannot merge array values of different length for the option _meta`

In loopback-boot/config-loader.js this function compares for length of arrays and throws the error

[code]

Want to know the reason why instead of mer

[2016-02-10 03:19] BerkeleyTrue opened #173 "Support ES2015 modules in boot scripts"
We've been using ES2015 modules for a while now using babel to transpile, which worked great until a fix came down the pipe for a transform that technically breaks spec.

In Babel 6, it has been pointed out that previous behavior of a module that only has an default exports is incorrect. While we've moved on to Babel 6, we are using a hacked version of the module transformer so that we can continu

[2016-02-12 09:35] bajtos commented on #4
Hi @dopeddude, your approach looks reasonable. I have two concerns though:

1) From my experience, there are usually two configs needed: a) configuration for development environment (e.g. running everything on a laptop) b) configuration for staging/production. The dev config is usually static and same for all users (i.e. everybody is running MySQL on localhost), only the staging/production config

[2016-02-13 10:37] dopeddude commented on #4
Hi @bajtos ,

Thanks for the response.

1) May be I could not understand your comment well, But I can not imagine why

Let me try with a sample configuration.

[code]

**At runtime**

[code]

--------------------

This should be an existing problem, if it is not implemented so.
**Reason:** I assume at present anyways we are merging the configurations from `datasources.json, datasources.local.json,

[2016-02-15 16:08] MarcDiethelm commented on #80
The current situation is surprisingly counter-intuitive for me. I expected `*.local.*` configs to be
- of the highest priority of all config files, in order to override even ENV-specific configs files, for local (developer-specific) development.
- gitignored (again, because developer-specific)

(As far as I know that's how Sails does things, and I independently arrived at the same prioritization o

[2016-02-15 18:48] jbcpollak commented on #172
I ran into a similar probably trying to add external models to via model-config.local.js.

in model-config.json I have:

[code]

And in model-config.local.js I have this:

[code]

I get this error when I try and run loopback:

[code]

Is there a workaround? Is it possible to manually access and merge the _meta.sources object through the app?

[2016-02-22 18:16] Amir-61 commented on #170
Unfortunately it is not promisified at the moment, but we have a plan to promisify them soon.

Thanks!

[2016-02-22 18:18] #170 closed

[2016-02-22 19:01] Amir-61 commented on #173
I believe @bajtos is the best person to answer this question about our future plans. @bajtos could you please take a look?

Thanks!

[2016-02-22 19:19] Amir-61 commented on #123
[PR#126](https://github.com/strongloop/loopback-boot/pull/126) fixes the issue. closing the ticket now.

Thanks

[2016-02-22 19:20] #123 closed

[2016-02-23 17:12] bajtos commented on #173
Related reading: http://stackoverflow.com/q/33505992/69868 and https://medium.com/@kentcdodds/misunderstanding-es6-modules-upgrading-babel-tears-and-a-solution-ad2d5ab93ce0#.mrwnw2f67

@BerkeleyTrue sure, I am happy to add a small fix to support Babel/ES2015 users.

It makes me wonder whether this will support other ES2015 transpilers too? Isn't this Babel-specific? I don't mind adding Babel-speci

[2016-02-24 19:23] BerkeleyTrue commented on #173
@bajtos That line of code should work for all transpilers that follow ES2015 module exports spec.

I'll see if I can find the time to contribute a PR.

[2016-03-02 15:34] bajtos commented on #4
Hi @dopeddude, sorry for taking long to respond, we have an important deadline ahead us. I will be slow to respond for another two weeks or so.

So I was thinking about the following configuration instead, which keeps everything in a single file:

[code]

Of course, that's only one of possible approaches, and it may make sense to support different conventions too.

Yes, this is not strictly necess

[2016-03-09 09:57] dopeddude commented on #4
@bajtos Thanks for the response.

As per you:

This approach looks good to me. But, let's just keep our list of minor limitations ready with this approach just for our future revisit purpose:

* Currently user does not have support for using a value pattern like `${FOO}`. And I agree as you said

* As the ENV-VARS are essentially just strings, so the substitution for `port` like variables will als

[2016-03-11 18:14] jbcpollak commented on #80
This issue is of intense debate in my team. We would like to use .local.* files for local-only configuration, however we need global / all .js configuration as well, which is not currently supported.

In addition, as @MarcDiethelm points, .local files should be the highest priority, and excluded from version control.

I would add that I would like to see .local files NOT stored in the server/ dire

[2016-03-14 17:03] jmls opened #175 "unable to resolve path "compression""
I'm trying to load middleware via the options object rather than using middleware.json

[code]
however, with this config

[code]
I get the error
[code]
if I remove the "initial:before" line, so that "initial: { compression " is the first line, the error is

[code]

what am I missing, or not configuring ?

thanks

[2016-03-21 20:53] davidcheung commented on #4
#### Information placeholder for implementation:

##### Current implementation of middleware dynamic variable
https://github.com/strongloop/loopback-boot/blob/90b9211fff1d51d820dc18c79e725ddc3b0f4654/lib/executor.js#L338-L388
##### server/middleware.json
[code]
##### server/config.json
[code]

##### Current implementation of host and port reading from dynamic sources
https://github.com/strongloop/

[2016-03-30 16:41] sam-github commented on #4
I'm having trouble following the current state of this. Also, and perhaps this is NOT something to address with this issue, various service providers specify information on the configured DBs with provider-specific env vars. BlueMix instant runtimes use `VCAP_...` env vars, for example.

This should be supported either out of the box (possibly via some config mechanism), or via require of a suppor

[2016-03-31 13:11] bajtos commented on #4
@sam-github let's keep this issue focused on environment variables (the 12factor way) and open a new issue for VCAP and other mechanisms.

This is the current status: @jannyHou is improving the connectors to support `url` or `dsn` setting that allows users to pass all configuration in a single string, see https://github.com/strongloop/loopback/issues/2089. @davidcheung is looking into loopback-boo

[2016-04-02 12:17] kennethlynne opened #179 "Cannot resolve path "cors" in loopback sdk angular"
https://github.com/strongloop/loopback-sdk-angular/issues/216

Probably related to the latest changes in this repo

[2016-04-06 04:55] xixilive opened #180 "define a non-enum property '_filename' on config objects make it difficult to override configs"
Config loader assigned a '_filename' on loaded config object at config-loader.js#L125.

and sometimes I want to override configs for difference environments in following approach:

[code]

This cause a `Cannot redefine property: _filename` exception.

[2016-04-06 08:27] xixilive commented on #180
:+1:

[2016-04-06 21:58] GonzaGonza commented on #179
+1

[2016-04-11 17:16] LoicMahieu opened #182 "TypeError: Cannot convert undefined or null to object"
Since #177 my application throws the error:
[code]

It is because I parse myself env variables for datasource config. The results of the parsing may contains `null` values but:
[code]
And so:
[code]
throws: **TypeError: Cannot convert undefined or null to object**

The `null` values were things like `port` etc...
I updated my application for giving default port and so avoid null value but it shoul

[2016-04-12 18:25] davidcheung commented on #182
Thanks @LoicMahieu!
I can reproduce this, definitely an oversight during implementation

[2016-04-12 18:41] davidcheung commented on #182
this is major because
[code]

[2016-04-13 14:15] #182 closed

[2016-04-15 10:25] pmoelgaard opened #186 "Latest version of lodash"
Any plans to update the dependencies to latest version, especially lodash, so it would not be necessary to install dependencies locally for this module ?

[2016-04-17 01:14] shaharz opened #187 "findMixinDefinitions ignores index.js in mixins"
The culprit seems to be this line of the findScripts function: https://github.com/strongloop/loopback-boot/blob/master/lib/compiler.js#L170

I'm sure there's a reasonable explanation as to why this is a desirable behavior for findScripts in certain situations but I can't see any reason why mixin modules shouldn't be able to use index.js as their main file. At the very least I'd suggested documenti

[2016-04-17 01:35] shaharz commented on #187
I now see there was a change in the way mixins were defined. The library I was using had support for both the old and new way, which is why it had an index.js that you're not supposed to use anymore (especially given mixin names are derived from their filenames).

[2016-04-17 01:35] #187 closed

[2016-04-17 19:45] ahmetcetin commented on #180
+1

[2016-04-18 19:02] Amir-61 commented on #186
Hi @pmoelgaard,

There is no plan at least at the moment to update `lodash` dependency... Please ask this kind of questions in out [Google group](https://groups.google.com/forum/#!forum/loopbackjs). We prefer to have the issue section of Github for bug reporting and feature requests. Thanks for your cooperation :-) I will be closing this ticket now.

Thanks!

[2016-04-18 19:02] #186 closed

[2016-04-18 19:09] Amir-61 commented on #179
@kennethlynne,

Did @GonzaGonza solve your problem? Can we close this ticket now? Or you still have the same problem? If so please provide a sample repo using our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) reproducing the issue and we will look into it.

Thanks!

[2016-04-18 23:53] pmoelgaard commented on #186
@Amir-61 Thanks for the response, and thanks for the heads up on the Google group.

[2016-04-19 15:53] bajtos commented on #4
@davidcheung please consolidate the information from the comments above and the demo meeting, so that it's clear what's done and what still needs to be done.

[2016-04-19 16:17] bajtos opened #188 "Spike: make boot more flexible"
PoC in progress: #181

[2016-04-21 20:05] ahmetcetin opened #189 "Order of setting host and port variables in executor.js (Causes problem in AWS Elastic Beanstalk)"
App server in AWS Elastic Beanstalk set HOST env variable to public api of the EC2. Nginx running on the machine uses this ip together with PORT env variable (for reverse proxy). So, instead of using HOST variable, I take care of this in config.local.js to query NODE_ENV and setting host property accordingly. Problem is, in the following code of executor.js:

[code]

host variable I set in config.

[2016-04-21 21:35] kennethlynne commented on #179
Yes, thanks

[2016-04-21 21:35] #179 closed

[2016-04-22 00:06] Amir-61 commented on #179
Thanks that the problem is solved :-)

[2016-04-22 19:09] davidcheung commented on #4
### Results that came out of this issue:
- `datasources.json` now handles dynamic variables `${SOME_STRING}`
- `middleware.json` and `component-config` now will resolve dynamic variables from **env-vars** too
- upon unresolved dynamic variables, undefined is returned ( this is so it can fallback to other settings )

### Improvements to have on current implementation
- prefixable/suffix

### Things

[2016-04-25 13:52] davidcheung opened #190 "Dynamic Configurations to resolve objects from env-var"
- Supporting cloud platforms out of the box with no need to go into settings and configure abunch of settings, for the use case of where DB services comes in a nested object rather than strings ( something that is extensible that brings more flexibility to dynamic configurations )
- Goal of having out-of-the-box working with the cloud solution.
- Implementation of this ideally should handle many f

[2016-04-25 13:52] #4 closed

[2016-04-27 00:07] falcondai opened #191 "disable boot scripts"
I wish there is a way (via `options` to `boot()`) to disable the behavior of executing everything in `boot/`: https://github.com/strongloop/loopback-boot/blob/master/lib/compiler.js#L66

My reason is that i wanted to reuse model definitions in a worker process (that communicates with the web app process via a push-pull work queue, and directly with the database). After much research, i implemented

[2016-04-27 01:46] superkhau commented on #191
There is work being done on loopback-boot refactoring ATM. See https://github.com/strongloop/loopback-boot/pull/181. Thanks for the input! Feel free to comment in that PR if you have any more suggestions.

We should take this into consideration @raymondfeng.

[2016-04-27 01:46] #191 closed

[2016-05-02 15:30] raymondfeng commented on #188
Connect to #181

[2016-05-06 14:37] richardpringle commented on #48
@coodoo, is this safe to close?

[2016-05-06 14:40] richardpringle commented on #41
Closing due to inactivity. If you guys still think we need some doc updates, please open a new issue and mention me in a comment or the description. Sorry about the delayed response, we're finally getting to some spring cleaning!

[2016-05-06 14:40] #41 closed

[2016-05-11 02:20] NathanBWaters commented on #175
npm install compression fixed it for me

[2016-05-11 22:51] superkhau commented on #175
@bajtos Is compression required for lb-boot? Wanted to ask before digging deeper to make sure (it's probably a requirement of body-parser, but figured you might know the answer off the top of your head).

[2016-05-16 08:55] bajtos opened #192 "Allow boot scripts to return promise instead of accepting a callback arg"
I'd like to write boot scripts using Promise-based API provided by loopback models:

[code]

[2016-05-18 09:14] bajtos commented on #175
@jmls When booting via options, you need to include `appRootDir` in your options. Have you done that? Please provide us with a full sample reproducing the problem per https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

loopback-boot does not require any middleware, it just processes the configuration provided by the application. In this particular case, the application configu

[2016-05-24 12:00] bajtos commented on #2
I am afraid we don't have bandwidth to follow up on this discussions in v3.0. @raymondfeng is working on some related changes to loopback-boot in https://github.com/strongloop/loopback-boot/pull/181, that's all we can get now. I am closing this issue in favour of the other issues mentioned in the description at the top.

[2016-05-24 12:00] #2 closed

[2016-05-24 18:53] geruiz commented on #189
Hi, I have the same problem.  The environment value of HOST override my configuration, though the documentation didn't say so.

[2016-05-25 10:04] ahmetcetin commented on #189
yeah, but it's easy to overcome in fact, just define a new env variable on your beanstalk/ec2/or whatever the virtual machine is, as "npm_config_host" and set it to localhost, it works.

[2016-05-25 12:23] geruiz commented on #189
I already resolve it (I clear the "host" env variable).  But I think this should appear on the documentation page (precedence of the env variables over the configuration value).

[2016-05-25 14:46] ahmetcetin commented on #189
totally agree.

On Wed, May 25, 2016 at 2:23 PM geruiz <notifications@github.com> wrote:

--
Ahmet Cetin

[2016-06-02 20:25] ghislaindj commented on #180
Hi,

with a clean loopback install, impossible to deploy it on Heroku for the same reason : "TypeError: Cannot redefine property: _filename"

Any idea how I can handle this ?

[2016-06-06 13:54] richardpringle commented on #189
@ahmetcetin, so just to clarify, you did find a workaround?

What do you think, should we just update the documentation or should this be changed so that the variable is easier to override?... or both

[2016-06-07 19:31] tnunes commented on #180
Also experiencing this issue. We basically can't use a `config.local.js` to provide loopback configure. It's a huge blocker!

Any updates on this?

[2016-06-13 16:13] codyolsen commented on #93
+1 for making this optional.

[2016-06-23 05:57] loay opened #193 "Tracking incorrect resolution of middleware modules."

[2016-07-06 17:55] loay commented on #193
https://github.com/strongloop/loopback-boot/pull/194

[2016-07-07 12:55] jmereaux commented on #190
Hi, any chance for this feature to be available soon?

[2016-07-07 15:44] superkhau commented on #190
@jmereaux You can follow the progress at #181. As for your question, how soon is "soon"? I know @raymondfeng is working on it, but there is no tentative due date.

[2016-07-08 13:15] jmereaux commented on #190
@superkhau Nothing really urgent. I can live without it for the moment :-)

[2016-07-08 19:55] superkhau commented on #190
@jmereaux Good lol, but one thing I am sure of is that it's coming as part of the refactors we're doing as of late since its a pretty important part of the modularization story.

[2016-07-11 21:22] gunjpan opened #197 "Update test cases to be port independent"
Current test cases run server on port 3000, when needed, which crashes other test cases that try to use the same port on same instance causing CI failures.
Goal is to make test server apps port independent.
Parent issue: https://github.com/strongloop-internal/scrum-loopback/issues/932

[2016-08-09 12:04] jskrzypek opened #201 "existsSync is deprecated; maybe use statSync in a try catch instead"
Instead of

[code]

this probably ought to be a wrapper around `fs.statSync`

[code]

[2016-08-09 12:35] tonicblue opened #202 "The ability to use UMD modules for model code and boot scripts"
**Feature Request**

I am using Loopback in a project where I'm using a lot of Typescript. I attempted to use the following Typescript boot script

[code]

But it didn't load. After some trying every different module format in my Typescript configuration I settled on UMD and stepped through `loopback-boot/lib/executor.js` and identified the following block of code (Line: 289) that was not allowing

[2016-08-09 20:26] superkhau commented on #201
Would you like to submit a PR instead? Keep in mind we still support Node 0.10 (which has statSync available https://nodejs.org/docs/v0.10.0/api/fs.html#fs_fs_statsync_path).

[2016-08-09 22:48] jskrzypek commented on #201
Happy to, I'll submit one tomorrow.

On Tue, Aug 9, 2016, 23:26 Simon Ho <notifications@github.com> wrote:

[2016-08-10 22:55] jskrzypek commented on #201
@superkhau PR submitted. I tried to make it as minimal as possible.

[2016-08-16 20:43] #197 closed

[2016-08-17 12:29] pkgulati opened #206 "pass instructions object back in callback or emit event"
We would like to receive instructions object which has all data related to all configs for some post processing, It will be good to pass this data in callback or as part of booted event.

[2016-08-26 22:44] davidcheung commented on #175
@jmls assuming this issue is solved by comment above since it has been stale for months, closing this issue now, please reopen if the issue still persist.

[2016-08-26 22:44] #175 closed

[2016-08-27 00:04] davidcheung commented on #160
@simoami sorry for the late reply

Hmmm im assuming reason is we would only be able to do that for config based middlewares?
https://github.com/strongloop/loopback/blob/358fdbf184a1e2514a9e93ecd131be5d68cf3440/lib/server-app.js#L74
something like ` var handler = factory.apply(app, params);`

but then because in normal scenarios we only deal with the `handler` function itself
by the time app regist

[2016-08-29 15:40] davidcheung opened #207 "Port new features and bug fixes to refactored boot"
https://github.com/strongloop/loopback-boot/tree/feature/extensibility

- [x] https://github.com/strongloop/loopback-boot/commit/d334425ada2b073907b4a3b641bc31c3bd3f4b66 Add flag var lazyConnect to ds config
- [x] https://github.com/strongloop/loopback-boot/commit/129938bacd4b0c91ed7e12202d61c6276b1df494 Configurable dir for components and middleware
- [x] https://github.com/strongloop/loopback-bo

[2016-09-02 20:00] davidcheung commented on #206
perhaps related: https://github.com/strongloop/loopback-boot/pull/181

Hi @pkgulati,
do you mean what configuration were parsed in?
or like per component overview

with the refactoring in #181 we should be able to have more control per artifact which might fit what ure looking for?

[2016-09-12 10:50] priyavivek1 opened #208 "Loopback boot breaks with lodash@4.x.x"
Loopback boot breaks with following exception while using lodash 4.x.x and hence doesnt allow us to use lodash 4.

[code]

[2016-09-12 22:46] superkhau commented on #208
Can you provide a sample for us to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-09-14 20:24] davidcheung commented on #208
possibly related https://github.com/strongloop/loopback-boot/pull/169

[2016-09-15 16:06] bajtos opened #210 "create loopback-2.x branch, use loopback@3 in master"
(after we land the refactoring PR).

See strongloop-internal/scrum-loopback#1057

[2016-09-16 23:08] raabbajam commented on #192
Great idea.

In the meantime here is how to work with Promise and callback:
[code]

[2016-09-18 12:41] fs523577192 opened #212 "Suggestion: calling the initialize code of the base model when initializing a model"
I have defined some models inheriting from a model called StatusModel. I want to disable the delete method of all StatusModel so I write the following in status-model.js:

[code]

However in the explorer I can still see DELETE method on those models inheriting from StatusModel.

I search for the code calling the initialization function of a model and in [HERE](https://github.com/strongloop/loopbac

[2016-09-19 21:20] #207 closed

[2016-09-21 14:41] davidcheung commented on #212
Hi @fs523577192, thanks for your suggestion.
we have had run into issues in similar scenarios ( if i understood the issue you described correctly )

I think this is more of an issue of the model-builder, perhaps somewhere in the `extend()` function https://github.com/strongloop/loopback-datasource-juggler/blob/baa557116c4bf7b381fdb40e6c4eaef131909594/lib/model-builder.js#L355 where it can't cover

[2016-09-26 19:38] dancingshell opened #218 "Subfolders in boot folder"
It would be great to have subfolders in the boot dir for better organization. exmaple

[code]

perhaps boot files could be loaded with a glob `boot/**` ?

[2016-09-27 20:51] davidcheung commented on #210
rebased into #181

[2016-09-28 14:34] #210 closed

[2016-10-11 12:25] #53 closed

[2016-10-12 17:39] davidcheung commented on #218
https://github.com/strongloop/loopback-boot/blob/28d58ede8eaa784ba610326a52239d5b41e0bb94/lib/compiler.js#L200
this is due to the behavior of [`readSyncDir()`](https://nodejs.org/api/fs.html#fs_fs_readdirsync_path_options)

[2016-10-12 18:20] davidcheung opened #223 "[forward-port] Fix resolution of middleware modules"
forward port #222  to #181
- [x] done https://github.com/strongloop/loopback-boot/pull/181/commits/bed268afad43755bfc2e161b5d6b5847cca3ec17

[2016-10-20 20:52] #223 closed

[2016-10-20 22:27] ORESoftware opened #224 "Boot scripts are loaded, but not actually run"
I was doing code coverage with Istanbul and it showed that my boot scripts were being loaded, but the exported function is not actually ever executed for several of my boot scripts. Very strange. Because...they are all in the same boot directory, so what the heck. I did some logging to verify, and it's been verified that several of my boot scripts never run.

I have the standard directly structure

[2016-10-20 22:30] ORESoftware commented on #224
I mean, this is what one boot script looks like and it clearly isn't executing because my server starts up without any problems:

[code]

[2016-10-25 00:09] ORESoftware commented on #27
I am having this issue, is there simply a way to explicitly pass model-config.json to

`boot(app, {})`?

Something like:

`boot(app, {
   modelConfig: require('some-custom-file.json')
})`

[2016-10-25 00:12] ORESoftware commented on #27
Also, just an aside, in the boot documentation, it's not clear to me what the difference is between model configuration and model definitions:

[code]

anybody care to explain? thanks!

[2016-10-26 22:46] davidcheung commented on #224
@ORESoftware hmm not sure, can u try running
`DEBUG=loopback:boot:executor node .`  you should see it via
https://github.com/strongloop/loopback-boot/blob/6491cc8e711a6b36e0f98ad30fbef429c3094f98/lib/executor.js#L289

or provide a sandbox to reproduce the issue?

[2016-10-26 23:02] ORESoftware commented on #224
yeah will do, the problem is still happening

[2016-10-26 23:13] ORESoftware commented on #224
[code]

[2016-10-26 23:14] ORESoftware commented on #224
I firmly believe Loopback is skipping my boot script, but not sure if I can distill it easily, let me know if you could use more (distilled) info

[2016-10-26 23:42] ORESoftware opened #225 "organizing configuration files leads to problems"
This is a bad one. I looked through the Loopback docs on how to change the dirs for Loopback boot to search for config files.

https://apidocs.strongloop.com/loopback-boot/

I have organized my configuration into subdirs so not all 25 config files are in one directory, like so:

![screenshot 2016-10-26 16 43 55](https://cloud.githubusercontent.com/assets/11139560/19749144/7574ad30-9b9b-11e6-9415-6

[2016-10-28 14:35] davidcheung opened #226 "test failing on browserify due to form-data"
[code]

seems like due to
https://github.com/form-data/form-data/issues/271

[2016-11-02 06:53] #212 closed

[2016-11-02 18:28] crandmck commented on #27
@davidcheung @deepakrkris ^

[2016-11-02 21:40] bajtos commented on #27
In short: model configuration is the data in `server/model-config.json`, model definition is the data from `common/models/{name}.json` (see also https://github.com/strongloop/loopback-boot/issues/27#issuecomment-49976544)

[2016-11-08 18:42] davidcheung commented on #226
https://github.com/form-data/form-data/commit/c99e4ec32cd14d83776f2bdcc5a4e7384131c1b1 fixes this issue, and is published today
closing now

[2016-11-08 18:42] #226 closed

[2016-11-14 15:22] davidcheung opened #230 "Document refactored design of loopback-boot"
- [ ] describe new design
- [ ] describe new feature
- [ ] example/tutorial/blogpost on how to build your boot-plugin

related to #181

[2016-11-16 16:14] davidcheung commented on #188
Closing this spike in favor of strongloop-internal/scrum-loopback/issues/1136

[2016-11-16 16:14] #188 closed

[2016-12-01 09:54] stanislavT commented on #218
I'm going to improve it.

[2016-12-01 17:10] davidcheung commented on #218
i think that would be a breaking change right?
if someone were storing utilities/helper scripts in a sub folder then now they would be ran
eg. `/boot/util/my-utilities.js`

@bajtos @raymondfeng any thoughts?

[2016-12-02 00:49] superkhau commented on #218
@davidcheung Seems like it could be backwards compat if it still read from the `server/boot` dir in addition to the sub dirs?

[2016-12-05 12:41] bajtos commented on #218
I am proposing to add a flag to the `boot` method to control whether directories are scanned recursively or not.

BTW we already have two related options, can we leverage/extend them to support this new use case?

[code]

In fact, one can scan the `boot` folder before calling `boot()` to build either a list of directories for `bootDirs`, or even a list of boot scripts for `bootScripts`.

[code]

I

[2016-12-06 21:35] danielrvt commented on #101
If we want to use the merged configuration in our code, how can we get a hold on it?

I'm currently trying: `require('../config');` and it seems to always load `config.json` (not `config.local.js`)

[2016-12-06 21:49] dancingshell commented on #101
@danielrvt what are you trying to accomplish? If you just need to get values out of the config you can:

[code]

[2016-12-16 10:40] bajtos commented on #108
I am closing this issue since there was not activity in more than a year.

[2016-12-16 10:40] #108 closed

[2017-01-04 13:25] bajtos commented on #167
This problem is slowing down `yo loopback` (and the upcoming `lb`) command, as `loobpack-workspace` takes about a second to load. The problem gets even worse in `lb` tests (https://github.com/strongloop/loopback-cli), where each test invoking `lb` in a subprocess is paying this cost and the test suite takes quite long to complete.

@ritch I would like to bump up the priority of this issue and fix

[2017-01-06 10:19] bnoordhuis commented on #167
I can spend some time on this in the week of January 16.  LMK if I should.

[2017-01-06 10:39] bajtos commented on #167
@bnoordhuis thank you for the offer, any help is welcome!

Specifically in loopback-boot, I think there is another place where we are repeating the same filesystem query - see https://github.com/strongloop/loopback-boot/blob/9cb3d0648b7d39e17e1e3e47ff26a098c44a3754/lib/compiler.js#L685-L694:

[code]

Whenever we are trying to resolve an extension-less name to a real require-able file name, we read

[2017-01-06 15:34] jmls opened #236 "datasources duplicated when booting using a config"
### Bug or feature request

- [x ] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

boot() with a config option instead of __dirname creates 2x the datasources

### Link to sample repo to reproduce issue (if bug)

https://github.com/jmls/lb-dynamic-ws

### Expected result

I would expect to see 2 datasources, not 4

### Actual result (if bug)

There are 4 datas

[2017-01-06 18:50] jmls opened #237 "models not loaded when using config on boot"
### Bug or feature request
- [x ] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

When using a config option to boot instead of a directory, the `modelSources` option seems to be ignored

### Link to sample repo to reproduce issue (if bug)
https://github.com/jmls/lb-dynamic-ws

### Expected result
the config-file.json model should be loaded

### Actual result

[2017-01-06 19:25] jmls commented on #237
never mind - my bad - I forgot that you have to supply a `models` config option as well.

[2017-01-06 19:25] #237 closed

[2017-01-08 20:04] jmls commented on #236
I've figured it out - loopback boot creates 2 datasources if the name does not begin with a captial letter.

so, `ds1` gets a `ds1` and a `Ds1` datasource created

[2017-01-15 04:15] jcolemorrison commented on #218
[code]
Globs don't work, but you can just add to that array whatever it is that you want loaded.  Those in `bootDirs` get run before those in the `boot` directory.

[2017-01-25 13:19] bajtos commented on #167
I created a simple breakdown of how long the different parts of workspace's `server/server.js` take to finish (Node v6.9.4 using `console.time`/`console.timeEnd` functions):

[code]

This break-down shows that the execution of loopback-boot takes only about ~10% of the startup time. Most of the time is spent loading (`require()`ing) the following two modules: `strong-globalize` and `loopback`.

Gi

[2017-01-25 13:47] bnoordhuis commented on #167
I'll take a look, I have time today.  What loopback-boot version did you benchmark?  Master?

[2017-01-25 15:26] bajtos commented on #167
loopback-boot branch `2.x`, loopback-workspace branch `master`.

[2017-01-30 22:03] #189 closed

[2017-01-30 22:10] ahmetcetin commented on #189
I think it would nice to add some note in documentation for future reference for other users.

[2017-02-20 11:57] #236 closed

[2017-03-09 14:18] bajtos opened #241 "3.0.0"
A check-list to keep track of tasks around releasing `loopback-boot@3.0.0`.

 - [ ] Publish `3.0.0` from the `master` branch
 - [ ] Mark `2.x` branch as `lts` - add `publishConfig` section to `package.json`
 - [ ] Update docs to mention the new `booted` event, see https://github.com/strongloop/loopback.io/pull/267

[2017-03-23 20:04] daankets opened #243 "Async boot scripts - silent failure with security risk"
Today I found out about a serious potential issue with async boot scripts. Consider this setup in server/boot:
* 01-doSomething.js
* 02-doSomethingElseAsync.js
* 03-enableAuth.js

And something like this in 02-doSomethingElseAsync.js:
[code]
In the above sample, the callback function is never invoked. Therefore, the next boot script (03-enableAuth) is never invoked either. And as a result, authent

[2017-03-23 20:05] daankets commented on #243
Note that in the above sample the boot phase does end, and the server start event is emitted.

[2017-03-23 21:24] raymondfeng commented on #243
Maybe we should put system boot scripts into a different folder? Or always invoke them 1st?

[2017-03-23 21:26] daankets commented on #243
I would consider that a patch, but there still is a risk of _oversight_. I just would change the process to **fail** the boot phase  if the boot scripts are not **all** executed within a configurable timeout.

[2017-03-23 21:28] daankets commented on #243
Another additional feature could be to **deprecate** the enableAuth method, and replace it with a disableAuth method instead. This way, auth would be enabled by default, and can be disabled if desired. I would have the disableAuth method throw an exception after the boot phase...

[2017-03-23 21:53] raymondfeng commented on #243
+1 to enable auth by default and set up timeout during boot.

[2017-03-24 08:36] bajtos commented on #192
I think this feature should be very easy to implement and therefore it's a great opportunity for first-time contributors to this project. Read http://loopback.io/doc/en/contrib/code-contrib.html to get started, I am happy to help you along the way.

[2017-04-18 22:31] ebbnormal opened #246 "resolveAppScriptPath() is not pass scriptExtensions to fixFileExtensions()"
When working with the following `middleware/` directory structure:

[code]

when we run the server, loopback tries to execute the file with the extension `.map` as if it were a middleware factory with a `.js` extension.

Here is the stack trace which is produced when running the loopback server.

[code]

We tried to do a workaround by including the new `options` variable to `boot()` by adding the

[2017-05-23 17:16] f-w commented on #172
I am using loopback-boot@2.23.0 and still got this error. Is the fix available on any published release?

[2017-06-07 12:12] bajtos commented on #206
Have you considered using `compile` and `execute` functions directly in your application?

In 2.x branch, the exported `boot` functions is implemented [as follows](https://github.com/strongloop/loopback-boot/blob/e5224368d4dc483899a2c97e456c2a031fa8ed13/index.js#L149-L155):

[code]

In your app (`server/server.js`), you can replace the call of `boot` with calling `compile` and `execute`. That way

[2017-06-07 12:18] bajtos commented on #208
This should have been fixed by #169. Please reopen this issue if the problem still persists.

[2017-06-07 12:18] #208 closed

[2017-06-07 12:20] bajtos commented on #201
The deprecation of `fs.existsSync` was reverted - see e.g. https://nodejs.org/dist/latest-v6.x/docs/api/fs.html#fs_fs_existssync_path and https://nodejs.org/api/fs.html#fs_fs_existssync_path

I am closing this issue as no longer relevant.

[2017-06-07 12:20] #201 closed

[2017-06-18 12:08] zamb3zi commented on #173
This hasn't been done? Should I submit a PR then?

[2017-06-21 09:10] bajtos commented on #173
@zamb3zi yes please, a pull request will be welcome. You may want to target the `2.x` branch, the `master` branch is tracking the upcoming 3.0 release.

Please check https://github.com/strongloop/loopback-boot/pull/203 first. It aims to add support for TypeScript, but I think it's relevant to ES2015 modules in general.

[2017-06-22 07:54] zamb3zi commented on #173
PR submitted. #203 handles model source files and boot scripts only. #250 encompasses that and adds mixin, component and middleware source files, more unit tests and models and mixin sources in the compiler.
I have a fix applied to the master branch as well, but there are no unit tests for that one. Should I submit that as is in another PR?

[2017-06-22 08:52] zamb3zi commented on #173
By the way, I had problems with the linting of this PR because of interaction with my global eslint and with an unrelated `.eslintrc.yml` file in my `../..` directory. One solution is to change the `package.json` `lint` command to `./node_modules/.bin/eslint .` and add `"root": true` to the `.eslintrc` file.
Unless there's some reason you don't want this to be the root of the config, should I add

[2017-06-22 20:54] MerrickClark commented on #93
Was caught off guard by the default merge of config files & would like to see this feature get launched! Optional of-course to prevent breaking all the things.

[2017-06-23 14:30] bajtos commented on #173
Great, thank you! I'll take a look soon.

+1 for setting `root: true` in our eslint config. Please open a new pull request for that change though.

I don't understand the point of changing `lint` script in `package.json`. AFAIK, `npm` prepends `./node_modules/.bin` to `PATH` before running the scripts, therefore it should invoke the local `eslint` version. Additionally, I am not sure if `./node_mo

[2017-06-23 14:37] bajtos commented on #173
Sure. We can ask @davidcheung and @raymondfeng to help you to figure out how to test this new feature.

[2017-06-23 15:59] zamb3zi commented on #173
Yes, you're right about the local path for `npm run`. I was getting mixed up by the root config problem. I'll do a separate PR on the weekend.

I've updated #250 and I'll submit a master branch PR in the next few days.

[2017-06-26 13:04] bajtos commented on #173
The feature is available in `loopback-boot@2.25.0`. Enjoy :)

[2017-06-26 13:04] #173 closed

[2017-07-26 09:10] ivanproskuryakov opened #255 "[BUG] Middleware is loading .js.map of .js"
The Problem comes when a custom middleware based on Typescript is used. Typescript generates two files `.js` and `.js.map` - which is used for mapping.
![errorhandler js map - resport today - www resport dev resport today 2017-07-26 12-08-38](https://user-images.githubusercontent.com/3517364/28613531-43b3bd5e-71fb-11e7-8983-176928eee87e.png)

`map.js` should be also covered in `getExcludedExtensio

[2017-08-07 21:38] guzuomuse opened #257 "The middleware "loopback#static" in phase "files"is not defined in the main config"
i flow the "http://loopback.io/doc/en/lb3/Add-a-static-web-page.html#define-static-middleware"

but it give me these error:

why?

[2017-08-07 21:53] #257 closed

[2017-08-14 12:18] mdh-cc opened #258 "Async operations in component initialization"
I'm currently writing a loopback-component which has some async calls (database) during its initialization phase.

Unfortunatly, the component hook calls of loopback-boot do not inject a callback method like 'done' to ensure the component has finished loading before starting the next component in line (https://github.com/strongloop/loopback-boot/blob/master/lib/plugins/component.js#L50).

I would

[2017-08-14 16:04] raymondfeng commented on #258
@mdh-cc Do you want to submit a patch?

[2017-08-15 09:37] mdh-cc commented on #258
@raymondfeng I created a pull request but had some issues with the test structure. I hope this fits all conditions.

[2017-10-02 00:46] tohagan commented on #129
[hjson.org](http://hjson.org/) might what you're looking for.  Developers could opt to rename thier `.json` files to `.hjson`. The hjson API includes the ability to [preserve comments](https://github.com/hjson/hjson-js#modify--keep-comments) in editting round trips.

[2017-10-05 01:44] tohagan commented on #129
Many other apps provide sample configuration values and documentation as comment inside their configuration files. You also often want to keep old settings but comment them out or explanations of settings (e.g. reference to an issue number). Not having comments for configuration (or any code for that matter) is IMHO a major limitation for Loopback both for getting started and for on going code mai

[2017-10-05 11:43] bajtos commented on #129
@tohagan I agree with you. I am afraid we don't have bandwidth to address this in the near future, as our main focus is on the next version of LoopBack - see https://strongloop.com/strongblog/announcing-loopback-next/. Would you like to contribute this improvement yourself? I think there are two big pieces to make this happen:

- [ ] Modify [loopback-boot](https://github.com/strongloop/loopback-bo

[2017-10-11 23:02] tohagan commented on #129
@bajtos Would be great to have this in Loopback Next!

[2017-10-12 09:25] bajtos commented on #129
@tohagan makes sense, I am moving this issue to loopback-next issue tracker: https://github.com/strongloop/loopback-next/issues/640

[2017-10-12 09:25] #129 closed

[2017-10-31 19:13] doowb opened #273 "isomorphic and uglify causing "AssertionError: must provide a valid {{SharedClass}}""
# Description/Steps to reproduce

I'm following the isomorphic example and browserifying the code. This results in a bundle that's >1MB so I thought I would try using uglify to minify the code.

I was able to minify the code and reduce the bundle to 600KB, but now I receive the above error.
Stepping through the code, I see that the there's a line asserting that when this code is checked: `sharedCl

[2018-01-24 09:58] tylkomat opened #275 "custom middleware not found when boot options are just __dirname"
While creating a sandbox for strongloop/loopback#3775 I noticed that a custom mixing inside `server/mixins` could not be loaded.

To reproduce either create a new api server using lb cli, create a mixin in `server/mixins` and use the mixin on some model
**or**
use this [repo](https://github.com/tylkomat/loopback-disableremotebyname-mixin-test) and replace the boot config in `server.js` with the de

[2018-02-12 06:19] rahulrkr08 opened #276 "Why next() requires to trigger process.nextTick in bootscript."
I want to do DB operation after User login, for that I have written boot script. Please check below code,

[code]
But when I am removing next() function from afterRemote callback, the application gets hold on afterRemote function. I don't want to process should wait to complete my DB process. process.nextTick not triggers for this asynchronous events. Can anyone help me to understand why we need n

[2018-03-27 22:22] ebbnormal commented on #246
https://github.com/strongloop/loopback-boot/pull/279 @bajtos Here is my patch. I am not sure whether or not the middleware object though is simply the sourceFile or a string, so the comparison may be off, feedback most welcome!

[2018-05-21 20:28] adwiens commented on #4
I wanted to use this nice feature, but unfortunately there is no way I can see to interpret an environment variable as another type, eg boolean. For example, the Mongodb connector seems to interpret the SSL param as false if you pass it a string.

Ended up using a datasources.local.js file as below. If we used a URL connection string this feature would have worked, but then I'd have to change and

[2018-06-28 14:46] AlexOwen commented on #172
This still exists in loopback-boot@2.27.1

[2018-07-16 07:12] bajtos commented on #192
@joshuawootonn thank you for the offer! I checked the source code and apparently this feature has been already implemented - see #253 (master branch/version 3.x) and #252 (version 2.x).

[2018-07-16 07:12] #192 closed

[2018-07-17 00:43] dhmlau commented on #255
Closing as resolved, because PR #263 and #254 were merged.

[2018-07-17 00:43] #255 closed

[2018-08-23 03:13] dhmlau commented on #38
Since the last comment was from almost 4 years ago, Closing due to inactivity. Please create a new issue if you are still running into problems.

[2018-08-23 03:13] #38 closed

[2018-08-23 03:14] dhmlau commented on #46
Since the last comment was almost 4 years ago, closing due to inactivity. Please create a new issue if you are still running into problems.

[2018-08-23 03:14] #46 closed

[2018-10-04 01:31] andrewwiik commented on #172
Still exists in 3.1.1

[2018-10-11 14:04] bajtos commented on #78
With the release of LoopBack 4.0 GA (see the [announcement](https://strongloop.com/strongblog/loopback-4-ga)), this module has entered Active LTS mode and no longer accepts new features (see our [LTS policy](https://loopback.io/doc/en/contrib/Long-term-support.html)).

[2018-10-11 14:04] #78 closed

[2018-10-11 14:27] bajtos commented on #202
The support for ES6 modules has been implemented for boot scripts via #280.

[2018-10-11 14:27] #202 closed

[2018-11-01 16:55] #241 closed

[2018-11-02 07:16] bajtos commented on #276
@rahulrkr08 is this issue still relevant?

I think you are confusing two unrelated concepts:

(1) A boot script can be optionally asynchronous. If the function exported by a boot script accepts a `cb` argument, then it must call this callback to signal when the async work has finished. In your case, the boot script can be simplified to a synchronous version.

[code]

(2) Remoting hooks are always

[2018-11-02 07:16] #276 closed

[2018-11-02 07:20] bajtos commented on #258
In October 2018, LoopBack 4.0 GA was released. LoopBack 3 and its supporting modules have entered LTS mode. Per our [Long Term Support Policy](https://loopback.io/doc/en/contrib/Long-term-support.html), this means new features are no longer accepted.

I am closing this GitHub issue as "wont fix".

@mdh-cc I see that you have opened a pull request almost a year ago to contribute the implementation

[2018-11-02 07:20] #258 closed

[2018-11-02 07:25] #80 closed, assigned to nobody

[2018-11-02 07:25] #69 closed, assigned to nobody

[2018-11-02 07:25] #62 closed, assigned to nobody

[2018-11-02 07:25] #61 closed, assigned to nobody

[2018-11-02 07:25] #56 closed, assigned to nobody

[2018-11-02 07:26] #48 closed, assigned to nobody

[2018-11-02 07:30] bajtos commented on #224
@ORESoftware sorry for the long delay on our side. Is this issue still relevant?

[2018-11-02 07:32] bajtos commented on #225
Sorry for the long delay on our side. Is this issue still relevant? Please create a sandbox we can use to reproduce the problem on our machines, see our [Bug reporting instructions](https://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report).

[2018-11-02 07:32] bajtos commented on #230
Our focus is on LB4+ now.

[2018-11-02 07:32] #230 closed

[2018-11-02 07:34] bajtos commented on #246
This issue has been fixed by https://github.com/strongloop/loopback-boot/pull/263 in `loopback-boot@2.26.2`

[2018-11-02 07:34] #246 closed

[2018-11-02 07:36] bajtos commented on #224
This is very likely a duplicate of #275

[2018-11-02 07:37] bajtos commented on #167
Since there was no activity here for almost two years, and our focus is on LB4+ now, I am closing this issue as stale/abandoned.

[2018-11-02 07:37] #167 closed

[2018-11-02 07:43] bajtos commented on #273
Sorry for the long silence on our side. In October 2018 (last month), LoopBack 4 GA was released and LoopBack 3.x entered LTS mode where new features and potentially disruptive changes are no longer accepted. I would be very reluctant to make changes in LoopBack just to support (advanced) minification of browserified code.

Having said that: the problematic line you shown above is coming from stro

[2018-11-02 07:43] #273 closed

[2019-05-17 17:35] amenadiel opened #291 "export-api-def doesn't work with loopback-boot@3"
# Description/Steps to reproduce

Use the generator to scaffold a new application. Then export the api definition:

[code]
![paso2](https://user-images.githubusercontent.com/238439/57945074-e138a180-78a6-11e9-86e4-886c65d83ad0.png)

It works! At this point, the dependencies list `loopback-boot@2.6.5`

If you upgrade to loopback-boot@3, like it's shown in [loopback-getting-started](https://github.c

[2019-05-29 13:53] HugoPoi commented on #190
It seems to a feature but it's a bug for me because :
1. All other config file loopback work theconfig.theenv.json > theconfig.theenv.js > theconfig.json > theconfig.js `config.json` doesn't follow this rules
1. When you doesn't have a `config.json` but you have `config.local.js` loopback give us warning `WARNING: Main config file "config.json" is missing`
1. Loopback doesn't warn you when you hav

[2019-07-09 15:51] mrbatista commented on #291
@amenadiel I have open PR strongloop/generator-loopback#411 to resolve this issue.

[2019-07-30 12:05] #291 closed

[2020-02-20 22:02] #224 closed

[2020-02-20 22:02] #225 closed

[2020-02-20 22:02] #275 closed

[2020-02-20 22:02] #172 closed

[2020-03-15 13:20] luxigo commented on #172
this is still an issue...

[2020-05-16 00:53] ffflabs opened #306 "Address usage of config/application on boot LBOptions"
## Suggestion

I would be nice to adress the breaking changes when migrating from v2.x to v3.x. In particular, the `config` key in the options taken as a second parameter by `boot` is still mentioned the current main script as of v3.31

https://github.com/strongloop/loopback-boot/blob/bb5d4239defcbd4cbc777fdf98996a1d435c79f6/lib/compiler.js#L57-L58

[And it shows in apidocs as well
](https://apido

[2020-07-25 14:02] juanvillegas commented on #172
Still an issue in LB 3 today...

[2020-08-01 09:31] #306 closed

[2020-12-23 13:06] ashish991 opened #307 "Loopback-boot updating to 3.3.1 producting "LoopBack server listening @ https://undefined:undefined/""
After updating loopback boot to 3.3.1 which is latest and stable version. Unable to start the lb3 server using cmd "node ."
Getting info "**LoopBack server listening @ https://undefined:undefined/**" . It doesn't allow to browse the explorer and even call the api's.

[2020-12-24 20:28] dhmlau commented on #307
@ashish991, what's the latest version that works for you?
From the [change log](https://github.com/strongloop/loopback-boot/blob/master/CHANGES.md#2019-06-24-version-331), 3.3.1 only contains non-code related changes. Thanks.

[2021-07-21 02:29] #307 closed